@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Monoton&family=Source+Sans+Pro&display=swap');
@import url('components/container.css');
@import url('components/avatar.css');
@import url('components/button.css');
@import url('components/banner.css');
@import url('components/card.css');

body {
	font-family: 'Monoton';
	font-size: 25px;
	margin: 0px;
	background-color: burlywood;
	color: whitesmoke;
}

h2 {
	font-weight: lighter;
}

p {
	font-family: 'Source+Sans+Pro', sans-serif;
	font-weight: bolder;
	font-size: 18px;
}

a{
	text-decoration: none;
}


